.header {
  position: relative;
  height: 95vh;
  background-image: url(/img/header.img.webp);
  background-size: 40rem;
  background-repeat: no-repeat;
  background-position-x: 56%;
  background-position-y: 110%;

  @include respond(big-laptop) {
    background-size: 50rem;
    background-position-y: 100%;
  }

  @include respond(tab-landscape) {
    background-size: 40rem;
    background-position-x: 60%;
    background-position-y: 90%;
  }
  @include respond(tab-portrait) {
    background-size: 50rem;
    background-position-x: 60%;
    background-position-y: 90%;
  }
  @include respond(phone) {
    background-size: 60rem;
    background-position-x: 60%;
    background-position-y: 120%;
  }

  @include respond(phone-small) {
    background-size: 35rem;
    background-position-x: 30%;
    background-position-y: 120%;
  }
}
.text-box {
  position: absolute;
  top: 68%;
  left: 18%;
  transform: translate(-50%, -50%);

  @include respond(big-laptop) {
    top: 50%;
  }
  @include respond(tab-landscape) {
    top: 70%;
    left: 18%;
    transform: translate(-50%, -50%);
  }
  @include respond(tab-portrait) {
    top: 69%;
    left: 20%;
  }
  @include respond(phone) {
    top: 75%;
    left: 30%;
    transform: translate(-50%, -50%);
  }
  @include respond(phone-medium) {
    top: 80%;
    left: 30%;
    transform: translate(-50%, -50%);
  }

  @include respond(phone-small) {
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.logo-box {
  position: absolute;
  top: 0;
  left: 330px;

  @include respond(tab-portrait) {
    left: 340px;
  }
  @include respond(phone) {
    display: none;
  }
}

.logo {
  height: 55px;
  position: sticky;

  @include respond(tab-landscape) {
    height: 40px;
  }
  @include respond(tab-portrait) {
    height: 43px;
  }
  @include respond(phone) {
    display: none;
  }
}
