//COLOR
$color-primary: #e2dbda;
$color-primary-light: #d8d0d0;
$color-primary-dark: #b9adac;

$color-secondary: #b29262ff;
$color-secondary-light: #765a44ff;
$color-secondary-dark: #412b1dff;

$color-tertiary: #312219;
$color-tertiary-light: #27160d;
$color-tertiary-dark: #000000ff;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 30rem;

$header-marginb-small: 3rem;
$header-marginb-big: 6rem;
