.heading-primary {
  color: $color-primary;
  backface-visibility: hidden;

  &-main {
    display: block;
    font-weight: 100;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 2rem;

    @include respond(tab-landscape) {
      margin-left: 8rem;
    }
    @include respond(tab-portrait) {
      font-size: 2rem;
    }
    @include respond(phone) {
      font-size: 2rem;
      font-weight: 400;
      margin-left: 5rem;
    }
    @include respond(phone-large) {
      font-size: 2.4rem;
    }
  }
  &-sub-1 {
    display: block;
    font-size: 9.5rem;
    font-weight: 500;

    animation-name: moveInLeft;
    animation-duration: 9s;
    animation-delay: 1s;
    animation-timing-function: ease-out;

    @include respond(big-latop) {
      font-size: 7rem;
    }
    @include respond(tab-landscape) {
      margin-left: 6rem;
    }
    @include respond(tab-portrait) {
      margin-left: 7rem;
    }
    @include respond(phone) {
      font-size: 12rem;
      align-items: center;
      margin-left: 4rem;
    }
    @include respond(phone-large) {
      font-size: 8rem;
      align-items: center;
      margin-left: 3rem;
    }
  }
  &-sub-2 {
    color: $color-primary-dark;
    letter-spacing: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    float: right;

    @include respond(phone) {
      display: none;
    }
  }
}

.heading-secondary {
  display: inline-block;
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: $color-primary-dark;
  margin-bottom: 4rem;

  @include respond(big-laptop) {
    font-size: 2.4rem;
  }
  @include respond(tab-portrait) {
    line-height: 1.2;
    font-weight: 600;
  }
  @include respond(phone) {
    font-size: 4rem;
  }
  @include respond(phone-large) {
    font-size: 3.3rem;
  }
  @include respond(phone-small) {
    font-size: 3rem;
  }
}
.heading-tertiary {
  // text-align: right;
  font-family: sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  color: $color-primary;
  margin-right: 8rem;
  margin-bottom: $header-marginb-small;

  @include respond(tab-portrait) {
    font-size: 2rem;
  }

  @include respond(phone) {
    margin-top: 10rem;
    font-size: 2.6rem;
    font-weight: bold;
  }
}
.heading-img {
  margin-top: $header-marginb-small;
  font-size: 1.3rem;
  font-weight: 100;
  color: $color-primary;
  word-spacing: 0.3rem;

  @include respond(tab-portrait) {
    font-size: 1.8rem;
    font-weight: 300;
  }
  @include respond(phone) {
    font-size: 2rem;
    margin-bottom: 15rem;
  }
  // word-spacing: 1.2rem;
}
